body {
    overflow:hidden;
}

.mHudContainer {
    display:flex;
    color:white;
    flex-direction:column;
    position:absolute;
    width: 12%;
    height: auto;
    right: 0;
    top: 2.5%;
}

.mHudContainer .item {
    position:relative;
    margin:auto;
    margin-top: 2px;
    width: 95%;
    height: 40px;
    background: rgba(50, 50, 50, 115);
    border-radius: 50px;
}

.mHudContainer .item-secondary {
    position:relative;
    margin:auto;
    margin-top: 0px;
    margin-right: 10%;
    width: 80%;
    height: 20px;
    background: rgba(50, 50, 50, 115);
    border-radius: 0 0 10px 10px;
    border-top: 1px solid rgba(143, 55, 53, 100);
    text-align:center;
}


.mHudContainer .item-secondary b {
    text-align:right;
    font-size: 12px;
    font-family: 'Open Sans';
}


.mHudContainer .item .icon {
    position:relative;
    left: 0;
    top: 2.5%;
    height: 90%;
    width: 17.5%;
    background: rgba(143, 55, 53, 100);
    border-radius: 50%;
    border:1px solid rgba(50, 50, 50, 115);
    font-size: 20px;
    line-height: 37px;
    text-align:center;
}

.mHudContainer .item .text {
    position:absolute;
    left: 22%;
    top: 5%;
    height: 90%;
    width: 70%;
    text-align:right;
    font-size: 13px;
    line-height: 37px;
    font-family: 'Open Sans';
}

.mHudContainer .item .text-job {
    position:absolute;
    left: 22%;
    top: 5%;
    height: 90%;
    width: 70%;
    text-align:right;
    font-size: 10px;
    line-height: 37px;
    font-family: 'Open Sans';
}

.mHudContainer .item strong {
    color: rgba(210, 30, 30, 255);
}

.name {
    font-size: 12px;
}